<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "scav_board/icons/favicon.ico" %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static "scav_board/icons/favicon.ico" %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static "scav_board/icons/favicon-192.png" %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static "scav_board/icons/favicon-160.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "scav_board/icons/favicon-96.png" %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static "scav_board/icons/favicon-64.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "scav_board/icons/favicon-32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "scav_board/icons/favicon-16.png" %}">
    <link rel="apple-touch-icon" href="{% static "scav_board/icons/favicon-57.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "scav_board/icons/favicon-114.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "scav_board/icons/favicon-72.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "scav_board/icons/favicon-144.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "scav_board/icons/favicon-60.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "scav_board/icons/favicon-120.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "scav_board/icons/favicon-76.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "scav_board/icons/favicon-152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "scav_board/icons/favicon-180.png" %}">
    <title>Register for Maclean Scav</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "scav_board/styles/unified-forms.css" %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <form id="registration-form" method="post">
        {% csrf_token %}
        <h2 class="custom-form-header">Register here</h2>
        <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" name="first_name" class="form-control" placeholder="First Name" required autofocus>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" name="last_name" class="form-control" placeholder="Last Name" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
            <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
        {% if validation_failed %}
        <p>You failed the bot test! Talk to Hall for help.</p>
        {% endif %}
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>